.ergonomics {
    background-color: #F3F3F3;
    &__container {
        display: flex;
        position: relative;

        
      
    }

    &__image {
        width: 100%;
        width: 975px;
        height: 782px;
    }

    &__descritpion {
        max-width: 500px;
    } 

    &__title {
        padding-top: 15px;
        font-size: 60px;
        font-weight: 300;
        line-height: 95%;
        color: #0B64FE;
    }

    &__paragraph {
        font-size: 22px;
        font-weight: 300;
        line-height: 140%;
        text-align: left;
        padding-top: 45px;
    }
    &__paragraph:nth-last-child(-n+2) {
        padding-top: 20px;
      }
    &__buttons {
        position: absolute;
        top: 419px;
        left: 316px;
    }
    &__circle-click-up {
        margin-right: 30px;
    }

}